/* body{
  
} */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login form{
  width: 420px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  border-radius: 10px;
}
.login h1{
  font-size: 36px;
  text-align: center;
}
.login .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--border);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  /* color: ; */
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: rgb(131, 123, 123);
}
.input-box span{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.login button{
  width: 60%;
  margin-left: 70px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: var(--bg);
  background-color: var(--prime);
  font-weight: 600;
}
.login button:hover{
  background-color: #25d366;
}
.login .link{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}
.link p a {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}
.link p a:hover{
  text-decoration: underline;
}
.login .error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: red;
}
